
body{
    margin: 0;
    padding: 0;
    background-image: url("./Images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: hidden; 
    overflow-x: hidden;
    font-family: Papyrus;
    
}

.title_HEAD{
    margin: auto;
    text-align: center;
    color: rgb(224, 93, 6);
    font-family: Papyrus;
    position: relative;
    top: -60px;
}

#harry{
    font-size: 90px;
    
    
}

#andthe{
    position: relative;
    top: -70px;
    left:-250px;
    font-size: 30px;
    
}

#amazing{
    position: relative;
    top: -170px;
    left:100px;
    font-size:50px;
 
}

#amazing, #andthe, #harry{
    text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
}
#amazing:hover, #andthe:hover, #harry:hover{
    opacity: 1;
    transition: 1s;
}
.content{
    position: relative;
    width: 1044px;
    height: 330px;
    left: 198px;
    top: -170px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 100px;
   
    
}    
.content:hover{
    background-color: rgba(0, 0, 0, 0.733);
  
}
.maya{
    display: flex;
    padding: 10px;
    margin: auto;
    justify-content: center;
}
.con{
    position: relative;
    top: 20px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 10px;
    border-radius: 25px;
}
.con img :hover{
    opacity: 1;
}

.buttons{
    position:relative;
    display: flex;
    justify-content: center;
    top: -30px;
}

.game_button{
    position: relative;
    top: -130px;
    height: 50px;
    width: 150px;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 100px;
    opacity: 80%;
    color: white;
    margin-left: 50px;
}

.game_button:hover{
    opacity: 1;
    border: 2px solid white;
    transition: 1s;
}

.red{
    background-color: rgb(255, 0, 0);   
}

.score{
    position: relative;
    top: -650px;
    left: 24%;
    height: 80px;
    width: 150px;
    color: white;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    opacity: 80%;
    text-align: center;
    border-radius: 100px;
    margin-left: 30px;
    padding: 5px;
}

.score h3{
    position: relative;
    top: -10px;
    font-size: 15px;
}

.score p{
    position: relative;
    font-size: 40px;
    top: -60px;
}

.status_box{
    position: relative;
    display: flex;
    left: -100px;
}

#statusid{
    top: -20px;
    font-size: 20px;
}

/* picture for each array */
.demon img,.sword img, .wizard img, .blank img{
    visibility: hidden;
    border-radius: 20px;
    height: 100px;
    width: 65px;
 
}

#new-Element{
    color: white;
    font-size:40px;
    text-align: center;
}


#howtoplayme{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

#howtoplayme table,th,tr,td{
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    position: relative;
    
}
#howtoplayme table{
    top: -50px;
}
#howtoplayme p{
    color: white;
    padding: 10px;
    text-align: justify;
    text-indent: 50px;
    
    
}

#lastline{
    position: relative;
    top: -50px;
}